h1{
    text-align: center;
}

.aboutus-container {
    max-width: 1000px;
    margin-top: 30px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #C69D9D;
    display: flex; /* Use flexbox to align items horizontally */
    /*align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between items */
}

.aboutus-container img {
    max-width: 50%; /* Set the maximum width for the image */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}

.aboutus-text {
    max-width: 45%; /* Set the maximum width for the text */
}

.img-fluid {
    width: 100%;
    height: 100%;
    border-radius: 2050px;
}

.img-phone {
    width: 30px;
    height: 30px;
}

/* Adjust the styles for the text within .aboutus-text as needed */
