/*--HEAD--*/
.text-signup {
    color: #977B7B;
    text-align: center;
    font-family: KoHo;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*--FORM--*/
.custom-form input.form-control{
    border-radius: 30px;
    border: 3px solid #977B7B;
    background: #F2E2D4;
    color: #977B7B;
    font-family: KoHo;
    font-size: 15px;
    font-weight: 400;

}

/*--BUTTON--*/
.container .custom-btn {
    background: #977B7B;
    border-radius: 30px;
    color: #F2E2D4;
    font-family: KoHo;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}

.custom-btn:hover {
    background-color: #c6a4a4; /* Set your desired hover background color */
    color: #fff; /* Set your desired hover text color */
}

