
.card {
    margin-bottom: 20px;
    border-radius: 20px !important;
    background-color: #F2E2D4;
}

img {
    display: inline-block;
    width: 200px;
    height: 150px;
    border-radius: 20px;
}

.navbar-menu {
    background-color: #a28484 !important;
    transition: background-color 0.3s ease;
}

.menu-buttons-container a {
    color: #F2E2D4; 
    text-decoration: none; 
    padding: 5px 10px;
    border-radius: 5px;
}

.order-button {
    width: 150px;
    height: 43px;
    border-radius: 20px;
    background: #A84646;
    color: #F2E2D4;
}

  .menu-section {
    padding: 50px 0;
    text-align: center;
  }
  
  .menu-btn {
    font-size: 18px;
    margin-right: 10px;
    color: #F2E2D4; 
    text-decoration: none; 
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .menu-btn.active {
    background-color: #C69D9D;
  }
  
  .bg-menu {
    background-color: #C69D9D;
  }
  
  .navbar-menu {
    background-color: #a28484 !important;
    transition: background-color 0.3s ease;
  }
  
  .menu-buttons-container {
    display: flex; 
    background-color: #a28484;
    padding: 10px;
    border-radius: 10px;
  }

  input.custom-input {
    background: transparent;
    border: none;
    text-align: center;
}


  

