.menu-section {
    padding: 50px 0;
    text-align: center;
}

.menu-btn {
    font-size: 18px;
    margin-right: 10px;
}

.card {
    margin-bottom: 20px;
    border-radius: 20px;
}

img {
    width: 200px;
    height: 150px;
    border-radius: 20px;
}





/*body {
    font-family: Arial, sans-serif;
    background-color: #F2E2D4;
    color: #000000;
}

.menu-item {
    background-color: #C69D9D;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}

.menu-item .dish {
    font-weight: bold;
    font-size: 18px;
}

.menu-item .price {
    float: right;
    font-size: 18px;
}

button {
    color: #A84646;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #F2E2D4;
}
