body {
    font-family: 'KoHo', sans-serif;        /* xerexa */
    margin: 0;
    padding: 0;
    background-color: #F2E2D4;
}

h1 {
    font-weight: bold;
}

nav {
    padding: 10px;
    overflow: hidden;
    position: relative;
    font-weight: bold;
    font-size: 22px; 
}

.navbar-light {
    background-color: #C69D9D !important;
}



.logo,
nav a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
}

.logo img {
    max-height: 50px; 
    margin-top: -5px; 
}

.logo:hover,
nav a:hover {
    background-color: #8c6d6d;

}

.logo:active,
nav a:active {
    background-color: #555;
    color: white;
}



.cart-count {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: red;
    color: white;
    padding: 8px 4px;
    border-radius: 50%;
    font-size: 14px; 
    z-index: -1; 
}

.cart-btn a,
.navbar-nav .nav-link {
    color: #634E4E;
    transition: color 0.3s;
}


section {
    padding: 20px;
}

.order-container,
.order-summary {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #C69D9D;
 
}