/*--BODY--*/
body {
    background-color: #F2E2D4;
}

/*--NAVBAR--*/
.main-navbar {
    background: #C69D9D;
}

.nav-link {
    color: #000;
}

.nav-link:hover, 
.active{
    color: #A84646;
}

.custom-badge {
    background-color: #F2E2D4 !important;
}

/*--FONTS--*/
.nav-font-koho {
    font-family: KoHo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.font-koho {
    font-family: KoHo;
}

.font-kohsan { 
    font-family: 'Koh Santepheap';
    font-size: 22px;
}

/*--IMAGES--*/
.logo {
    width: 110px;
    height: 80px;
    flex-shrink: 0;
}


